@model List<Dictionary<string, object>>;

    <h1 class="text-center">
        All Users
    </h1>
    <h5 class="text-center">
        <a href="new" class="btn btn-info">New User</a>
    </h5>

    @foreach (Dictionary<string, object> user in Model)
        {
        <div class="card mx-auto mb-3" style="width: 25rem;">
            <div class="card-header">
                <h5 class="card-title">@user["FullName"]</h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    @user["Email"]
                </p>
                <h6 class="card-subtitle mb-2 text-muted">@user["DojoLocation"]</h6>
                <p class="card-text">
                    @user["Language"]
                </p>
                <p class="card-text">
                    @user["Comments"]
                </p>
            </div>
        </div>
        }